# School

Bir **Warm-Up** etkinliÄŸi ve hÄ±zlÄ± bir `SELECT` ifadesiyle baÅŸlayalÄ±m.

## Data
Bu URL'de bulunan `school.sqlite` database ile Ã§alÄ±ÅŸacaÄŸÄ±z:
`https://wagon-public-datasets.s3.amazonaws.com/sql_databases/school.sqlite`

DosyayÄ± indirmek iÃ§in aÅŸaÄŸÄ±daki hÃ¼creyi Ã§alÄ±ÅŸtÄ±rÄ±n:

In [3]:
!curl https://wagon-public-datasets.s3.amazonaws.com/sql_databases/school.sqlite > data/school.sqlite

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 12288  100 12288    0     0  42472      0 --:--:-- --:--:-- --:--:-- 42519

## Database Discovery

Database'i keÅŸfetmek iÃ§in (database'i indirdikten sonra) VS Code SQLite extension'Ä±nÄ± kullanabilirsiniz:

- `Ctrl-Shift-P` veya `Cmd-Shift-P` tuÅŸlarÄ±na basÄ±n
- `SQLite: Open Database` gÃ¶rÃ¼nene kadar yazmaya baÅŸlayÄ±n
- `Enter`
- AÃ§Ä±lan listeden database dosyasÄ±nÄ± seÃ§in
- Sol alt kÃ¶ÅŸede `SQLITE EXPLORER` butonuna tÄ±klayÄ±n

AÅŸaÄŸÄ±daki sorularÄ± cevaplayÄ±n:

- KaÃ§ tane table var?
- Her table iÃ§in column'lar neler?

Schema ile rahat ettiÄŸinizde bir SQL Query yazalÄ±m.

## Setup

Pandas ve sqlite3 ihtiyacÄ±mÄ±z olan her ÅŸey :-)

In [31]:
import pandas as pd
from sqlite3 import connect

In [39]:
# Paris'ten gelen tÃ¼m Ã¶ÄŸrencileri retun et
query_students = """
    SELECT first_name, last_name, birth_city
    FROM students
    WHERE birth_city = 'Paris'
"""

## Paris Students

ðŸ‘‰ `Paris` ÅŸehrinden tÃ¼m students kayÄ±tlarÄ±nÄ± seÃ§mek iÃ§in bir SQL Query yaz.

In [40]:
with connect('data/school.sqlite') as conn:
    df = pd.read_sql(
        query_students,
        con=conn
    )
df.head()

  first_name last_name birth_city
0       Oran  Southern      Paris
1     Bertha     Brook      Paris
2       Neha   Salazar      Paris
3     Ignacy     Casey      Paris
4    Shirley     Mayer      Paris

## Dynamic queries

Harika, Paris Ã¶ÄŸrencilerini aldÄ±k.

Ama bu sorgunun **dinamik** olmasÄ± (yani herhangi bir ÅŸehirle Ã§alÄ±ÅŸmasÄ±) gÃ¼zel olmaz mÄ±ydÄ±?

ðŸ‘‰ Sorguyu, herhangi bir ÅŸehir iÃ§in kullanabileceÄŸimiz ÅŸekilde yeniden yazÄ±n. AÅŸaÄŸÄ±daki kodda, DataFrameâ€™i yÃ¼klerken bunu nasÄ±l kullanacaÄŸÄ±mÄ±zÄ± gÃ¶rebilirsiniz.

In [41]:
# City den gelen tÃ¼m Ã¶ÄŸrencileri retun et
query_students = """
   SELECT first_name, last_name, birth_city
   FROM students
   WHERE birth_city = ?
"""

In [42]:
city = 'London'

with connect('data/school.sqlite') as conn:
    df = pd.read_sql(
        query_students,
        con=conn,
        params=[city]  # BurasÄ± parametreyi, yani city deÄŸerini ilettiÄŸimiz yer.
    )
df.head()

  first_name   last_name birth_city
0       Safa        Lugo     London
1       Rick  Broadhurst     London

SonuÃ§ beklediÄŸiniz gibi gÃ¶rÃ¼ndÃ¼ÄŸÃ¼nde, sorgunuzu test etmek iÃ§in aÅŸaÄŸÄ±daki hÃ¼creyi Ã§alÄ±ÅŸtÄ±rÄ±n.

In [43]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'school',
    query=query_students
)
result.write(); print(result.check())

## Key learning points

- Bir database Ã¼zerinde query yazmak iÃ§in Pandas kullanÄ±n
- Dinamik queries yazmak iÃ§in parameter substitution kullanÄ±n