# Query the Database

Åžimdi bir `ecommerce` database Ã¼zerinde geliÅŸmiÅŸ SQL sorgularÄ± yazma zamanÄ±!

## Data
Bu URL'de bulunan `ecommerce.sqlite` database ile Ã§alÄ±ÅŸacaÄŸÄ±z:  
`https://wagon-public-datasets.s3.amazonaws.com/sql_databases/ecommerce.sqlite`

DosyayÄ± indirmek iÃ§in aÅŸaÄŸÄ±daki hÃ¼creyi Ã§alÄ±ÅŸtÄ±rÄ±n.

In [1]:
!curl https://wagon-public-datasets.s3.amazonaws.com/sql_databases/ecommerce.sqlite > data/ecommerce.sqlite

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  9216  100  9216    0     0  28236      0 --:--:-- --:--:-- --:--:-- 28269

## Setup

Pandas ve sqlite3 ihtiyacÄ±mÄ±z olan her ÅŸey :-)

In [2]:
import pandas as pd
from sqlite3 import connect

## Orders

ðŸ‘‰ TÃ¼m orders kayÄ±tlarÄ±nÄ±, tÃ¼m column'larÄ± gÃ¶stererek alÄ±n.

In [3]:
#  Her sÃ¼tunu gÃ¶steren sipariÅŸlerin listesini  return et
query_orders = """
    SELECT *
    FROM orders
"""

In [4]:
with connect('data/ecommerce.sqlite') as conn:
    df = pd.read_sql(
        query_orders,
        con=conn
    )
df.head()

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,FreightCharge
0,1,1,1,2012-01-04,2012-01-09,2012-01-05,1,3.75
1,2,2,2,2012-01-27,2012-02-01,2012-01-28,1,7.25
2,3,4,1,2012-02-19,2012-02-24,2012-02-23,2,5.50
3,4,2,4,2012-03-13,2012-03-18,2012-03-14,2,13.50
4,5,4,2,2012-04-05,2012-04-10,2012-04-06,3,8.75

SonuÃ§ beklediÄŸiniz gibi gÃ¶rÃ¼ndÃ¼ÄŸÃ¼nde, sorgunuzu test etmek iÃ§in aÅŸaÄŸÄ±daki hÃ¼creyi Ã§alÄ±ÅŸtÄ±rÄ±n.

In [5]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'query_orders',
    query=query_orders
)
result.write(); print(result.check())

## Orders range

ðŸ‘‰ Verilen iki tarih arasÄ±nda yapÄ±lan tÃ¼m orders kayÄ±tlarÄ±nÄ±, OrderDate deÄŸerine gÃ¶re artan ÅŸekilde alÄ±n (date_from hariÃ§, date_to dahil).

In [6]:
# date_from ve date_to tarihleri arasÄ±nda (date_from hariÃ§ ve date_to dahil)
# OrderDate sÃ¼tununu gÃ¶steren sipariÅŸlerin listesini return et
query_orders_range = """
    SELECT OrderDate
    FROM orders
    WHERE OrderDate > ?
    AND OrderDate <= ?
"""

ðŸ‘‰ Bu sefer, sorguyu denemek iÃ§in veriyi bir dataframe'e yÃ¼kleyecek kodu kendiniz yazÄ±n. Dinamik olmasÄ±na dikkat edin: baÅŸlangÄ±Ã§ ve bitiÅŸ tarihlerini kolayca deÄŸiÅŸtirebilmek istiyoruz!

NasÄ±l yapacaÄŸÄ±nÄ±zdan emin deÄŸil misiniz? Ã–nceki challengeâ€™tan ilham alÄ±n!

In [9]:
start_date = '2013-01-01'
end_date = '2013-01-31'

with connect("data/ecommerce.sqlite") as conn:
    df_range = pd.read_sql(
        query_orders_range,
        con=conn,
        params=(start_date, end_date)
    )
df_range.head()

    OrderDate
0  2013-01-06
1  2013-01-29

SonuÃ§ beklediÄŸiniz gibi gÃ¶rÃ¼ndÃ¼ÄŸÃ¼nde, sorgunuzu test etmek iÃ§in aÅŸaÄŸÄ±daki hÃ¼creyi Ã§alÄ±ÅŸtÄ±rÄ±n.

In [10]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'get_orders_range',
    query=query_orders_range
)
result.write(); print(result.check())

## Waiting time

ðŸ‘‰ Delivery time deÄŸerine gÃ¶re (en kÃ¼Ã§Ã¼k timedelta'dan en bÃ¼yÃ¼ÄŸÃ¼ne doÄŸru) artan sÄ±rada tÃ¼m orders kayÄ±tlarÄ±nÄ± alÄ±n.

Ä°pucu: "sqlite julianday" ÅŸeklinde arama yapÄ±n.

In [11]:
# Her sÃ¼tunu gÃ¶steren tÃ¼m sipariÅŸlerin listesini alÄ±n
# ve OrderDate ile ShippedDate arasÄ±ndaki gÃ¼n sayÄ±sÄ±nÄ± gÃ¶steren ek bir TimeDelta sÃ¼tunu hesaplayÄ±n
# TimeDelta'ya gÃ¶re artan sÄ±rada sÄ±ralayÄ±n
query_waiting_time = """
    SELECT *,
           julianday(ShippedDate) - julianday(OrderDate) AS TimeDelta
    FROM orders
    ORDER BY TimeDelta ASC
"""

SonuÃ§ beklediÄŸiniz gibi gÃ¶rÃ¼ndÃ¼ÄŸÃ¼nde, sorgunuzu denemek ve test etmek iÃ§in aÅŸaÄŸÄ±daki hÃ¼creleri Ã§alÄ±ÅŸtÄ±rÄ±n.

In [12]:
with connect('data/ecommerce.sqlite') as conn:
    df = pd.read_sql(
        query_waiting_time,
        con=conn
    )
df.head()

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,FreightCharge,TimeDelta
0,1,1,1,2012-01-04,2012-01-09,2012-01-05,1,3.75,1.0
1,2,2,2,2012-01-27,2012-02-01,2012-01-28,1,7.25,1.0
2,4,2,4,2012-03-13,2012-03-18,2012-03-14,2,13.50,1.0
3,5,4,2,2012-04-05,2012-04-10,2012-04-06,3,8.75,1.0
4,6,3,3,2012-04-28,2012-05-03,2012-04-29,2,11.00,1.0

In [13]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'get_waiting_time',
    query=query_waiting_time
)
result.write(); print(result.check())

## Key learning points

- Bir database Ã¼zerinde query yazmak iÃ§in Pandas kullanÄ±n
- Dinamik queries yazmak iÃ§in parameter substitution kullanÄ±n
- Tarihlerle Ã§alÄ±ÅŸÄ±n ve bu tarihlerle hesaplamalar yapÄ±n